[Desktop Entry]
Version=1.0
Name=CRYPTCORE Core
Comment=CRYPTCORE P2P Cryptocurrency
Comment[fr]=CRYPTCORE, monnaie virtuelle cryptographique pair à pair
Comment[tr]=CRYPTCORE, eşten eşe kriptografik sanal para birimi
Exec=cryptcore-qt %u
Terminal=false
Type=Application
Icon=cryptcore128
MimeType=x-scheme-handler/cryptcore;
Categories=Office;Finance;
StartupWMClass=Cryptcore-qt
