# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=CRYPTCORE Core
Comment=CRYPTCORE Core QT test network
GenericName=CRYPTCORE Digital Currency QT client testnet network
Exec=cryptcore-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/cryptcore_testnet.png
MimeType=x-scheme-handler/corr;
Categories=X-Office;X-Finance;
Keywords=internet;cryptcore;zcorr;tcorr;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
