# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=CRYPTCORE Core
Comment=CRYPTCORE Core QT main network
GenericName=CRYPTCORE Digital Currency QT client main network
Exec=cryptcore-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/cryptcore.png
MimeType=x-scheme-handler/cryptcore;
Categories=X-Office;X-Finance;
Keywords=internet;cryptcore;zcorr;corr;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
